*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans';
    text-decoration: none;
    list-style-type: none;

}

.wapper
{
    max-width: 1170px;
    margin: auto;
}

    /* <!-- .....................Header...................... --> */

.main
{
    padding: 15px 0px;
    background-color: #082c4e;
    color: white;
    font-size: 22px;
    font-weight: 550;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
.logo
{
    width: 60%;
}
.main-content
{
    display: flex;
    /* width: 100%; */
    max-width: 1170px;
    min-width: 100px;
    justify-content: space-between;

}
.nav-links
{
   width: 40%;
}
ul
{
    width: 100%;
     display: flex;
     flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}
    /* <!-- .............section2............... --> */
.main2
{
    background-color: #082c4e;
    padding: 160px 0px 120px 0px;
    color: white;
}
.main2-content
{
    display: flex;
    width: 100%;
}
.main2-left
{
    width: 60%;
}
h1{
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 3px;
}

.main2-left p
{
    font-size: 22px;
    margin-bottom: 35px;
}
.button
{
    padding: 16px 32px;
    border: 2px solid white;
    border-radius: 32px;
    width: 35%;
    font-size: 22px;
    text-align: center;
}
.main2-right
{
    width: 40%;
}

.img img{
    width: 100%;
}


    /* <!-- .............section3............... --> */

    .main3
    {
        width: 100%;
        padding: 120px 0px;
    }

    .main3-title
    {
        font-size: 64px;
        color: #082c4e;
        font-weight:700;
        text-align: center;

    }

    /* ................card................. */
    .main3-boxs
    {
        display: flex;
        /* width: 100%; */
        justify-content: space-evenly;
        /* padding: 40px 0px; */
        flex-wrap: wrap;
    }
    .main3-box1
    {
        width:270px;
        color: #082c4e;
        padding: 50px 30px;
        background-color: #fe6571;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        margin: 0px 15px;

    }
  
    .icon-size
    {
       font-size: 70px; 
    }

     .icon-size4
    {
       font-size: 70px; 
       transform: rotate(-45deg);
    }

    .main3-box1 h3
    {
        font-size: 32px;
        padding: 30px 0px 20px 0px;
        word-wrap: break-word;
    }
    .main3-box1 p
    {
        font-size: 21px;
        /* padding: 0px 10px 20px 0px; */
        padding-bottom: 20px;
        word-wrap: break-word;

    }
    .main3-box1 a
    {
        text-decoration: none;
        color: #082c4e;
        font-size: 18px;
        position: relative;

    }
    a::after
    {
        content: '';
        position: absolute;
        height: 2px;
        width: 0px;
        bottom: -4px;
        left: 0;
        opacity: 0;
        background-color:#082c4e;
    }
    a:hover::after
    {
        height: 2px;
        width: 100%;
        transition: all 0.6s;
        opacity: 1;
    }
    .card2
    {
        background-color: #ffcc00;
    }
    .card3
    {
        background-color: #22a5e5;
    }.card4
    {
        background-color: #f2eae2;
    }

    /* <!-- .............section4............... --> */


.main4
{
    background-color: #082c4e;
    padding: 120px 0px;
}
.main4 p
{
    width: 70%;
    font-size: 48px;
    color: white;
    /* margin: auto; */
    padding-left: 20%;
    line-height: 1.2;
    
}
.p-yellow
{
    color: #ffcc00;
    font-size: 48px;
    padding-left: 20%;
}


    /* <!-- .............section5 or 6............... --> */
.main6
{
    padding: 120px 0px 40px 0px;
}
.main6-content
{
    width: 100%;
    /* padding-left: 10%; */
}
.main6-box
{
    display: flex;
    margin-bottom: 80px;
    justify-content: space-between;
} 
.main6-icon
{
    font-size: 150px;
    color: hsl(48, 99%, 67%);
}  

.main6-right
{
    /* padding-left: 100px; */
    width: 80%;
}
.main6-right h3
{
    font-size: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}
.main6-right p
{
    font-size: 22px;
    padding-bottom: 20px;

}

.main6-right a
{
    font-size: 22px;
    color:#3098f3;   
}

    /* <!-- .............section 7............... --> */
.main7
{
    background-color: #ffcc00;
    padding: 120px 0px;
}
.main7-content
{
    width: 100%;
    display: flex;
}
.main7-left
{
    width: 50%;
    padding-right: 20px;
}

.main7-left h3
{
    font-size: 64px;
    padding-bottom: 40px;
}


.main7-left p
{
    font-size: 21px;
    padding-bottom: 70px;

}


.main7-left a
{
    font-size: 21px;
    font-weight: 700;
    color: black;
}

.main7-right
{
    width: 50%;
}
.img1 img
{
    width: 100%;
}

    /* <!-- .............section 8............... --> */

.main8-content
{
    padding: 80px 0px;
    width: 100%;
}

.main8-title
{
    font-size: 38px;
}

.main8-content p
{
    font-size: 22px;
    padding: 21px 0px 40px 0px;
}

.main8-box
{
    display: flex;
}
.main8-boxtop
{
    border-top:1px solid #3098f3 ;
    display: flex;
}
.main8-box1
{
    padding: 16px 0px;
    width: 15%;
    border-bottom:1px solid #3098f3 ;
    font-size: 19px;
}

.main8-box2
{
    padding: 16px 0px;
    width: 67%;
    border-bottom:1px solid #3098f3 ;
    font-size: 19px;

}
.main8-box3
{
    padding: 16px 0px;
    width: 3%;
    border-bottom:1px solid #3098f3 ;
    font-size: 19px;

}

/* <!-- ///////////////////////Section-9\\\\\\\\\\\\\\\\\\\\\\\ --> */

.main9
{
    background-color: #082c4e;
    padding: 80px 0px 100px 0px;
}
.main9-content
{
    display: flex;
    width: 100%;
}
.main9-left
{
    width: 50%;
}

.main9-left h3
{
    font-size: 48px;
    color: white;
    padding-bottom: 30px;
}
.main9-left p
{
    font-size: 24px;
    color: white;
}

.main9-right{
    width:50%;
    padding-left: 5%;

}

.main9-box1
{
    padding: 30px 40px;
    background-color: #fe6571;
    color: white;
    position: relative;
    margin-bottom: 40px;
}
.main9-box1:hover
{
    transform: scale(1.03,1.03);
    transition: all 0.5s;
}
.main9-box1 h4
{
    font-size: 24px;
    margin-bottom: 20px;
}
.main9-box1 p
{
    font-size: 19px;
    margin-bottom: 35px;
}
.main9-box1 a
{
    font-size: 20px;
    color: white;
}

/* For Side Icon */
.absolute
{
    position: absolute;
    font-size: 50px;
    top: 10%;
    right: 6%;
}
.main9-color
{
    background-color: rgb(87, 24, 165);
}


    /* <!-- ///////////////////////Section-10\\\\\\\\\\\\\\\\\\\\\\\ --> */
.main10
{
    padding: 100px 0px 160px 0px;
}
.main10-content h3
{
    font-size: 48px;
    line-height: 1.2;
    padding-bottom: 30px;
}

.main10-content p
{
    font-size: 22px;
    padding-bottom: 25px;
}
.p4
{
    font-weight: 700;
}

/* Boximg and text */
.main10-boximg
{
    font-size: 22px;
    padding: 20px 25px;
    border-radius: 16px;
    background-color: #3098f3;
    position: relative;
}
.main10-boximg::before
{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #3098f3;
    position: absolute;
    transform: rotate(45deg);
    bottom: -10px;
    left: 45px;
}
.boximg
{
    display: flex;
    position: absolute;
    bottom: -90px;

}
.main10-img{
    height: 60px;
    width: 60px;
}
.img4
{
    background-size: cover;
    width: 100%;
    border-radius: 50%;
}
.main6-text
{
    font-size: 18px;
    padding-left: 15px;
}
.strong
{
    font-weight: 700;
}

    /* <!-- ///////////////////////Section-11\\\\\\\\\\\\\\\\\\\\\\\ --> */
.main11
{
    background-color: #082c4e;
}
.main11-content
{
    padding: 120px 0px;
    color: white;
}
.main11-content p{
    font-size: 48px;
    text-align: center;
    line-height: 1;
    margin-bottom: 60px;
}

.main11-box
{
    display: flex;
    justify-content: space-evenly;
}
.main11-box1
{
    width: 234px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img11
{
    height: 120px;
    width: 120px;
    margin-bottom: 30px;
}
.img11 img
{
    width: 100%;
    border-radius: 50%;
}
.p11
{
    font-size: 48px;
    color: #ffcc00;
    margin-bottom: 20px;
}
.main11-box1 p
{
    font-size: 19px;
    font-weight: 700;
}

.main12
{
    padding: 120px 0px;
}
.main12-content
{
    display: flex;
}
.main12-left
{
    width: 50%;
    background-color: #ffcc00;
    padding: 80px 80px 50px 80px;
}
.main12-left h3
{
    color: #22a5e5;
    font-size: 40px;
    padding-bottom: 32px;
}


.main12-left p
{
    font-size: 19px;
    padding-bottom: 32px;
}

.main12-right
{
    width: 50%;
    background-color: #22a5e5;
    padding: 80px 80px 50px 80px;

}

.main12-title
{
    color: #ffcc00;
     font-size: 40px;
    padding-bottom: 32px;

}

.p12
{
    font-size: 19px;
    padding-bottom: 32px;
    color: white;
}

.main12-left:hover +.main12-right
{
    display: none;
}
/* 
.main12-left:hover + .main12-hover
{
    z-index: 12;
    width: 50%;
    font-size: 48px;
}
.main12-hover
{
    width: 0%;
} */


    /* <!-- ///////////////////////Section-13\\\\\\\\\\\\\\\\\\\\\\\ --> */

.main13
{
    background-color: #f2eae2;
    padding: 96px 0px;
}

.main13-content
{
    display: flex;
    width: 100%;
}

.main13-logo
{
    padding: 10px 30px;
    color: #ffcc00;
    font-size: 160px;
    width: 30%;
}
.main13-text
{
    padding-left: 20px;
}
.blue
{
    color: #0077ff;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
}
.p13-title
{
    font-size: 32px;
    font-weight: 600;
    padding: 5px 0px 15px 0px;
}
.p13-text
{
    font-size: 23px;
}

    /* <!-- ///////////////////////Section-15\\\\\\\\\\\\\\\\\\\\\\\ --> */

.main15
{
    background-color: #082c4e;
    color: white;
    padding: 120px 0px 80px 0px;
}
.main15-content
{
    width: 100%;
    display: flex;
}
.main15-left
{
    width: 50%;
    padding: 0px 160px 0px 40px;
}

.main15-center
{
    width: 40%;
}

.main15-left p
{
    font-size: 17px;
    margin-bottom: 40px;
}

.copyright
{
    font-size: 19px;
}

.main15-center1
{
    display: flex;
}

.main15-links
{
    width: 40%;
}
.main15-links li
{
    font-size: 18px;
    padding-bottom: 7px;
}
.main15-center2
{
    padding: 80px 0px 0px 0px;

}
.main15-center-title
{
    font-size: 21px;
}
.input input{
    background-color: transparent;
    border: none;
    font-size: 21px;
    border-bottom: 1px solid white ;
    line-height: 3;

}
.input
{
    display: flex;
    align-items: center;

}
.arrow
{
    font-size: 30px;
    padding: 12px 0px;
    border-bottom:1px solid white ;
}


.main15-right
{
    width: 10%;
}

.logo-15
{
    padding: 5px 0px;
    font-size: 25px;
}

/* @media(maX-width:600px)
{   
    .main2{
        padding: 30px 0px;
    }
    .main2-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main2-left{
        width: 80%;
    }
    .main2-right
    {
        width: 80%;
    }
    
    .button
    {
        width: 100%;
        margin-bottom: 30px;
    }
    .main3-box1
    {
        margin-bottom: 30px;
    }
} */


@media (max-width:768px) {
    .main2-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .nav-links
    {
        width: 60%;
    }
    .button
    {
        width: 40%;

    }
    .main2-left
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
        width: 80%;
    }
    .main2-right
    {
        width: 80%;
    }

    .main7-content{
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0px;
        width: 100%;
    }
    .main7-left
    {
        width: 80%;
        margin-bottom: 40px;
    }
    .main7-right{
        width: 70%;
    }

    .main6-box{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .main3
    {
        padding: 30px 0px;
    }
    .main3-title
    {
        padding: 40px 0px ;
    }
    .main3-box1
    {
        margin-bottom: 40px;
    }
    .main4 p 
    {
        width: 80%;
        display: inline-block;
        /* padding: 0px; */
        text-align: center;
    }
    .p-yellow
    {
        text-align: center;
        padding: 0px;
    }

    .main8-content
    {
        width: 80%;
        margin: auto;
    }

    .main8-boxtop 
    {
        flex-direction: column;
    }
    .main8-box
    {
        flex-direction: column;
    }
    .main8-box1
    {
        border: none;
    }
    .main8-box2
    {
        width: 100%;
    }
    .main9
    {
        padding: 40px 0px;
    }
    .main9-content
    {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .main9-left
    {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .main9-right
    {
        width: 100%;
    }
    .main10
    {
        padding: 40px 0px;
    }
    .main10-content
    {
        width: 80%;
        text-align: center;
        margin: auto;
        padding-bottom: 80px;
    }
    .main11-box
    {
        flex-wrap: wrap;
    }
    .main12-content
    {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .main12-left
    {
        width: 100%;
        text-align: center;
        padding: 40px 20px;
    }
    .main12-right
    {
        width: 100%;
        text-align: center;
        padding: 40px 20px;

    }
    .main13-content
    {
        flex-direction: column;
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .main13-logo
    {
        margin: auto;
        padding: 0px;
    }
    .main15-content
    {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width:80%;
        margin: auto
    }
    .main15-left
    {
        width: 100%;
        padding: 0px;
        margin: 0px 0px 40px 0px;
    }
    .main15-center
    {
        width: 100%;
    }
    .main15-center1
    {
        flex-direction: column;
        align-items: center;
    }
    .main15-center2
    {
        padding-top: 15px;
        width: 100%;

    }
    .input
    {
        display: flex;
        justify-content: center;
    }
    .main15-right
    {
        display: flex;
        justify-content: center;
    }
    .logo-15
    {
        padding: 30px 20px;
    }
}
